.button {
	display: inline-block;
	color: $white;
	padding: 1rem 2.5rem;
	&__green {
		background-color: $green;
		&:hover {
			color: $white;
			background-color: $green-dark;
		}
	}
	&__text {
		padding: 0; 
		// align: left;
		color: $green;
		&:hover {
			color: $green-dark;
		}
	}
	&__login {
		font-size: 1.4rem;
		padding: .3rem 1rem;
		background-color: $white;
		color: $green;
		border: none;
		transition: .3s all;
		&:focus,
		&:active {
			outline: 1px solid $white;
			outline-offset: .3rem;
		}
	}
	&__submit {
		font-size: 1.4rem;
		padding: 1rem 1.5rem;
		background-color: $white;
		color: $green;
		border: none;
		transition: .3s all;
		&:focus,
		&:active {
			outline: 1px solid $white;
			outline-offset: .3rem;
		}
	}
}

