.header {
	padding: 2rem 0;
	background-color: rgba(0,0,0,.02);
	box-shadow:  0px 3px 1rem -2px rgba(0,0,0,0.18);
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
		text-align: left;
		@include respond (mini-tab) {
			display: none;
		}
	}
	&__right {
		margin-left: auto;
	}
	&__link {
		color: $green;
		&:hover {
			color: $green-dark;
		}
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
	&__block {
		color: $white;
		padding: 1.2rem 2rem;
		background-color: $green;
		&:hover {
			color: $white;
			background-color: $green-dark;
		}
	}
	&__icon {
		margin-right: .5rem;
	}
}